body {
  background-color: #2c5d7f;
  margin: 0;
  padding-left: 0;
  height: 100%;
  text-align: center;
}
h1 {
  font-family: 'Aclonica', sans-serif;
  color: white;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 80px;
}
.logo {
  width: 150px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 65px;
}
.activity-group {
  position: relative;
  top: 140px;
}
#activity-name {
  width: 250px;
}
.list-group-item {
  cursor: pointer;
}
.cardLogo {
  background: url(hydra-travel.png) no-repeat top center;
  margin: 5px;
  width: 50px;
  height: 50px;
  background-size: cover;
}
div.cardContainer {
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  top: 200px;
}
div.newCard {
  width: 350px;
  margin: 0 auto;
  height: 350px;
  border-style: solid;
  background-color: white;
  cursor: pointer;
}
.cardHeader {
  width:100%;
  height: 60px;
}
.left {
  float: left;
}
.category-selector {
  display: inline-block;
}
.descCont {
  float: left;
  clear: left;
}
.cardBodyImg {
  float: left;
  background: url(sunnybeach.jpg) no-repeat top center;
  width: 100%;
  height: 100px;
  background-size: cover;
}
.tripCardHeadContainer {
  float: left;
}
.tripCardTitle {
  height: 30px;
  margin-top: 5px;
  font-size: 20px;
  float: left;
}
.tripCardDescription {
  margin-top: 0px;
  font-size: 12px;
  width: 75%;
  float: left;
  text-align: left;
}
.bottomContainer {
  position: relative;
  width: 100%;
  height: 85px;
  float: left;
  clear: left;
}
.clickContainer {
  position: absolute;
  width: 350px;
  height: 50px;
  bottom: 0px;
  text-align: center;
}
.cardStack {
  margin-left: 5px;
  float: left;
  clear: left;
}
.userClick {
  width: 100%;
  text-align: center;
  font-size: 14px;
  position: absolute;
  float: left;
  clear: left;
}
.cardStackRel {
  position: absolute;
}
.headerText {
  width: 100%;
}
.userButton {
  margin-top: 22%;
  margin-left: 38%;
  background: url(userButton.png) no-repeat top center;
  width: 75px;
  height: 75px;
  background-size: cover;
}
.cardNav {
  font-size: 12px;
  position: absolute;
  margin-left: 5px;
  bottom: 5px;
}
#hero {
  background-color: red;
  background: url(caribbean.jpeg) no-repeat center top;
}
.hero-banner {
  text-align: center;
}
div.form-group {
  position: relative;
  top: 150px;
  margin: 10px auto;
  width: 225px;
}
.btn {
  position: relative;
  top: 150px;
  margin: 0px auto;
  width: 225px;
  background-color: #438bbf;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
}
div.signup-text {
  position: relative;
  text-align: center;
  top: 250px;
  font-family: 'Aclonica', sans-serif;
  color: white;
}
div.signup-link {
  position: relative;
  text-align: center;
}
.signup-button {
  top: 0px;
}
div.login-text {
  position: relative;
  text-align: center;
  top: 250px;
  font-family: 'Aclonica', sans-serif;
  color: white;
}
div.login-link {
  position: relative;
  text-align: center;
}
.login-button {
  top: 0px;
}
#exampleTripName {
  position: relative;
  right: 83px;
  width: 390px;
}
.trip-button {
  position: relative;
  top: 150px;
  margin: 0px auto;
  width: 225px;
  background-color: #438bbf;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
}
div.footer {
  position: relative;
  text-align: center;
  width: 100%;
  height: 60px;
  bottom: -325px;
  font-family: 'Aclonica', sans-serif;
  color: white;
}

.list-view-form {
  display: block;
}

.list-view-activities {
  display: block;
  margin-top: 200px;
}
