#hero {
  background: url(caribbean.jpeg) no-repeat center top;
}

form {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

input {
  height: 50px;
  width: 200px;
  font-size: 35px;
}

.list-group-item {
  cursor: pointer;
}
