<div ng-controller="signinController">
  <form>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleEmail" placeholder="Email" ng-model="email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" ng-model="password" id="examplePassword" placeholder="Password">
    </div>
    <button type="submit" class="btn" ng-Click='signIn(email, password)'>Submit</button>
  </form>
  <div class="signup-text">don't have an account? sign up now.
    <div class="signup-link">
      <form method="link" action="#/signup">
        <button type="submit" class="btn signup-button">Create Account</button>
      </form>
    </div>
  </div>
</div>
