<div class="container" ng-controller='activityController'>
  <div class="trip-name">{{ userData.value.trips[currentTripIndex.value].tripName }}</div>
  <div class="list-view-form">
    <form class="form-inline">
      <div class="form-group activity-input">
        <label for="exampleInputName2"></label>
        <input type="text" ng-model='description' class="form-control" id="exampleInputName2" placeholder="Add new activity">
      </div>
      <select class="form-control category-selector" ng-model='category'>
        <option value="Food">Food</option>
        <option value="Excursion">Excursion</option>
        <option value="Nightlife">Nightlife</option>
        <option value="Exercise">Exercise</option>
        <option value="Entertainment">Entertainment</option>
        <option value="Relaxation">Relaxation</option>
        <option value="Shopping">Shopping</option>
        <option value="Other">Other</option>
      </select>
      <button ng-click="newActivity(userData.value['_id'], userData.value.trips[currentTripIndex.value]['_id'], description, category);
                description='';
                category=''"
              type="submit" class="btn btn-primary">Add Activity</button>
    </form>
  </div>
  <div class='list-view-activities'>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="item in userData.value.trips[currentTripIndex.value].activities track by $index"
          ng-click="deleteActivity(userData.value['_id'], userData.value.trips[currentTripIndex.value]['_id'], item['_id'])">
          {{item.description}} ~ {{item.category}}
      </li>
    </ul>
  </div>
</div>
