<div ng-controller="signupController">
  <form>
    <div class="form-group">
      <!-- <label for="exampleInputPassword1">Password</label> -->
      <input type="email" class="form-control" id="exampleEmail" placeholder="Email" ng-model='email'>
    </div>
    <div class="form-group">
      <!-- <label for="exampleInputPassword1">Password</label> -->
      <input type="password" class="form-control" id="examplePassword" placeholder="Password" ng-model='password'>
    </div>
    <button type="submit" class="btn" ng-click="newSignUp(email, password)">Submit</button>
  </form>
  <div class="login-text">already have an account? sign in.
    <div class="login-link">
      <form method="link" action="#/login">
        <button type="submit" class="btn login-button">Sign in</button>
      </form>
    </div>
  </div>
</div>
<!-- <div class="signup-text">don't have an account? sign up now.
    <div class="signup-link">
      <form method="link" action="#/signup">
        <input type="submit" class="btn" value="Create Account">
        <button type="submit" class="btn signup-button">Create Account</button>
      </form>
    </div>
  </div> -->
